{% extends "base.html" %}

{% block title %}ユーザー一覧{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">


<h1>登録ユーザー一覧</h1>

<ul>
{% for user in users %}
    <li>
        {% if user.image_filename %}
            <img src="{{ url_for('static', filename='uploads/' + user.image_filename) }}" width="100" alt="{{ user.name }}">
        {% else %}
            <img src="{{ url_for('static', filename='common_img/default.jpg') }}" alt="No Image" width="150">
        {% endif %}
        <br>
        {{ user.name }}（{{ user.age }}歳）
    </li>
{% endfor %}
</ul>

<!-- 登録ボタン中央配置 -->
<div class="register-btn">
  <a href="{{ url_for('register') }}">新しいプロフィールを登録</a>
</div>
{% endblock %}
